.ad-show-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.ad-show-detail-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 20px;
}

.show-detail-obj {
    position: relative;
    top: 30px;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    width: 100%;
}
