.list-orders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.order-item {
    width: 100%;
    display: flex;
    background-image: linear-gradient(to right, palevioletred, #0880ff);
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 50px;
    color: white;
    font-weight: bolder;
}

.order-id, .order-date, .order-payment-method, .order-status,.order-total-cost,.order-show-more{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-id{
    width: 15%;
}

.order-date{
    width: 10%;
}

.order-payment-method{
    width: 25%;
}

.order-status{
    width: 15%;
}

.order-total-cost{
    width: 25%;
}
