.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    background-color: white;
    top: 200px;
    animation: showDialog ease 1s;
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px !important;
    box-shadow: 0 4px 14px var(--box-shadow-dialog);
    border-radius: 5px;
    z-index: 10;
    background-color: white;
    height: max-content;
}

.form-field {
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    padding: 10px;
    width: inherit !important;
}

.bg-close-dialog {
    width: inherit;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

@keyframes showDialog {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
