.customer-info-change-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
}

.customer-info-change-content {
    width: 45%;
    margin: 100px auto 50px auto;
    padding: 20px;
    border: 1px solid #007BFF;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    min-height: 300px;
}

.customer-info-change-container h2 {
    color: #007BFF;
    text-align: center;
    margin-bottom: 20px;
}

.customer-info-change-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-form-group {
    width: calc(100% - 20px);
    margin-bottom: 15px;
}

.customer-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.customer-form-group input:disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}

.customer-form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
}

.customer-button-group {
    display: flex;
    justify-content: center;
    width: 100%;
}

.customer-button-group > button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    color: #fff;
    background-color: var(--btn-bg-color);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.customer-button-group > button:hover {
    box-shadow: 0 3px 30px 3px var(--box-shadow-btn);
    z-index: 100;
    background-color: var(--btn-bg-color-hover);
}

.customer-button-group > .cancel-update-button {
    background-color: grey;
}

.customer-button-group > .cancel-update-button:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .customer-info-change-content {
        width: 90%;
        margin: 10px auto;
    }
    .customer-form-group input {
        width: calc(100% - 10px);
    }
}