.payment-container {
    width: 100%;
    min-height: 80vh;
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chooseAddress, .PaymentZone, .showProdList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chooseAddress, .PaymentZone {
    width: 30%;
}

.chooseAddress {
    margin-bottom: 10px;
}

.showProdList {
    width: 40%;
    margin: 10px 0;
}

.PaymentZone{
    margin-top: 10px;
}

.chooseAddress .availableAddress, .chooseAddress .newAddress {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 70%;
    padding: 10px;
    box-shadow: 0 4px 12px var(--box-shadow-dialog);
    border-radius: 5px;
}

/*format table*/
table.listProd {
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 4px 14px var(--box-shadow-btn);
    border-radius: 5px;
    padding: 5px;
}

table.listProd tr:nth-child(odd) {
    background-color: rgba(80, 83, 87, 0.51);
}

/*format payment zone*/
.Payment {
    box-shadow: 0 4px 14px var(--box-shadow-dialog);
    background-color: white;
    width: 80%;
    border-radius: 5px;
    padding: 10px 0;
}

.chooseMethodPayment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form-payment {
    width: 70%;
}

.showInfoBanking {
    margin-bottom: 10px;
}

.ShowQR {
    margin: 10px 0;
}
