.ad-prod-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}

.ad-prod-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 95%;
    position: relative;
    height: 100%;
}

.item-prod {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-image: linear-gradient(90deg, #d7aae1, #ff4c4c);
    border-radius:10px;
    margin-bottom: 15px;
    width: 100%;
    min-height: 60px;
}

.list-prod {
    width: 100%;
    margin: 20px;
}

.prod-id {
    width: 5%;
    padding: 0 5px;
}

.prod-name {
    width: 15%;
    padding: 0 5px;
}

.prod-desc {
    width: 25%;
    padding: 0 5px;
    overflow-x: hidden;
    overflow-y: auto;
    overflow-wrap: anywhere;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.prod-quantity {
    width: 5%;
    padding: 0 5px;
}

.prod-size {
    width: 10%;
    padding: 0 5px;
}

.prod-price{
    width: 15%;
    padding: 0 5px;
}

.prod-farm {
    width: 10%;
    padding: 0 5px;
}

.prod-type {
    width: 10%;
    overflow: auto;
    padding: 0 5px;
}

.prod-tool {
    width: 5%;
    padding: 0 5px;
}