:root{
    --btn-bg-color:#E85C0D;
    --btn-bg-color-hover:#FABC3F;
    --box-shadow-btn:#821131;
    --box-shadow-dialog: rgba(128, 128, 128, 0.8);
    --text-color:#E85C0D;
    --bg-color-table: rgba(243, 253, 255, 0.51);
}