.page404-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page404-container .page404-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-direction: column;
    margin: 40px 0;

}

img.Error-icon {
    width: 50%;
}