.order-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.order-detail-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 14px var(--box-shadow-dialog);
    border-radius: 5px;
    padding: 10px;
}