.App {
  text-align: center;
  position: relative;
  /*overflow: hidden;*/
}

a{
  text-decoration: none;
  color:black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
