html {
    background-image: url("../src/assets/img/koi_fish_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}

.App {
    text-align: center;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
}

.mg-x-s {
    margin: 5px 0;
}

.mg-y-s {
    margin: 0 5px;
}

.mg-y-m {
    margin: 0 10px;
}

.mg-x-m {
    margin: 10px 0;
}

input:disabled {
    background-color: transparent;
    cursor: not-allowed;
}

select:focus-visible {
    outline: 2px solid #007BFF;
    border-color: #007BFF;
}

button:disabled {
    cursor: not-allowed !important;
}

html {
    scrollbar-color: rgb(255, 0, 0) transparent !important;
    scrollbar-width: thin;
    width: 100%;
    height: 100vh;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
