.list-fish-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap
}

.list-fish-content {
    margin-top: 100px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/*card*/
.fish-card {
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
    border: thin solid rgba(128, 128, 128, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fish-card:hover {
    box-shadow: 0 14px 14px var(--box-shadow-dialog);
}

.thumbnail-fish {
    height: 80%;
}

.thumbnail-fish img {
    width: 70% !important;
}

/*pagination*/
.pageControl {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.controler-paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.pageNumber, .prevPage, .nextPage {
    height: 40px;
    width: 40px;
    border: 1px solid var(--btn-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextPage,.prevPage,.pageNumber{
    cursor: pointer;
}

.nextPage,.prevPage{
    font-weight: bold;
}

.nextPage:hover,.prevPage:hover,.pageNumber:hover{
    background-color: rgba(52, 58, 64, 0.24);
    color: white;
}

.nextPage a, .prevPage a, .pageNumber a{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected{
    background-color:var(--btn-bg-color) !important;
}

.selected a{
    color: #f0f0f0;
    font-weight: bold;
}

.disabled{
    cursor: not-allowed !important;
}

/*chỉnh vị trí list fish*/
.list-fish-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.filter-zone {
    width: 20%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-form {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    width: auto;
}

.selectInput, .fieldset input {
    width: auto;
    text-align: left;
    margin-bottom: 0;
}

.list-fish-content {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
}

.fish-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.thumbnail-fish img {
    width: 100%;
}

