
.list-fish-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url("../../img/koi_fish_bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    min-height: 80vh;
}

.list-fish-content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/*card*/
.fish-card {
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    border: thin solid rgba(128, 128, 128, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fish-card:hover {
    animation: cardHover 0.2s ease-in;
    box-shadow: 0 14px 14px var(--box-shadow-dialog);
    transform: translateY(-10px);
}

@keyframes cardHover {
    0% {
        box-shadow: none;
        transform: none;
    }
    100% {
        box-shadow: 0 14px 14px var(--box-shadow-dialog);
        transform: translateY(-10px);
    }
}


.thumbnail-fish {
    height: 80%;
}

.thumbnail-fish img {
    width: 70% !important;
}

/*pagination*/
.pageControl {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.controller-paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.pageNumber, .prevPage, .nextPage {
    height: 40px;
    width: 40px;
    border: 1px solid var(--btn-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nextPage, .prevPage, .pageNumber {
    cursor: pointer;
}

.nextPage, .prevPage {
    font-weight: bold;
}

.nextPage:hover, .prevPage:hover, .pageNumber:hover {
    background-color: rgb(255, 255, 255);
    color: white;
}

.nextPage a, .prevPage a, .pageNumber a {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevPage {
    border-radius: 10px 0 0 10px;
}

.nextPage {
    border-radius: 0 10px 10px 0;
}

.selected {
    background-color: var(--btn-bg-color) !important;
}

.selected a {
    color: #f0f0f0;
    font-weight: bold;
}

.disabled {
    cursor: not-allowed !important;
    background-color: white;
}

.list-fish-container .filter-zone {
    width: max-content;
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 0;
}

.list-fish-container .filter-zone .filter-form {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 10px;
    width: max-content;
    border-radius: 100px;
}

.list-fish-container .filter-zone .filter-form fieldset.fieldset {
    border-radius: 100px;
    margin: 0 10px;
    width: max-content;
}

.list-fish-container .filter-zone .filter-form fieldset.fieldset .selectInput:focus {
    outline: none;
}

.fieldset input {
    text-align: left;
    width: fit-content;
}


.list-fish-content {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.fish-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.thumbnail-fish img {
    width: 100%;
}

