.policy-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.policy-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 20px;
    background-color:white;
    border-radius: 10px;
}

.policy-content fieldset.fieldset {
    align-items: flex-start;
    width: 90%;
}