.tour-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/koi-trans-bg.webp");
}

.tour-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:100px 0;
    width: 70%;
}

.summary-tour {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size:20px;
}

.info-summary-tour{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.summary-content ul {
    list-style-type: none;
}

ul.show-info-tour {
    text-align: left;
}

.image-tour, .info-summary-tour, .description-tour {
    border-radius: 5px;
    box-shadow: 0 4px 14px var(--box-shadow-dialog);
    margin:10px;
    background-color: #f0f0f0;
}

.image-tour{
    width: 100%;
    height: max-content;
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-summary-tour{
    width: 40%;
    height: max-content;
    padding: 10px;
}

/*format description*/
.description-tour{
    width: 100%;
    font-size:30px;
}

.optionBtns{
    display: flex;
    flex-direction: row;
}
.tour-details {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-size:30px
}
/*------------------------------------------*/
/* Bộ sưu tập ảnh */
.gallery-tour {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.image-gallery {
    text-align: center;
    overflow: hidden;
}

.gallery-image {
    width: 100%;
    height: auto;
}

/* Nút chuyển ảnh */
.slide-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.slide-button::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
}

.prev {
    left: 10px;
}

.prev::before {
    transform: rotate(135deg); /* Mũi tên chỉ sang trái */
}

.next {
    right: 10px;
}

.next::before {
    transform: rotate(-45deg); /* Mũi tên chỉ sang phải */
}

.slide-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*-----------------------------------*/
.thank-you-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.thank-you-image {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.thank-you-section p {
    color: #333;
    font-size: 20px;
    text-align: center;
    font-weight: 250;
}
.itinerary-tour {
    margin-top: 20px;
    background-color: #ffffff;
}

.itinerary-tour h4 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.itinerary-tour ul {
    list-style-type: none;
    padding-left: 0;
}

.itinerary-tour li {
    margin-bottom: 10px;
    font-size: 1.5em;
    line-height: 1.6;
}

.itinerary-tour li strong {
    color: #4CAF50;
}
