.tour-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/koi-trans-bg.webp");
}

.tour-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:100px 0;
    width: 70%;
}

.summary-tour {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.info-summary-tour{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.summary-content ul {
    list-style-type: none;
}

ul.show-info-tour {
    text-align: left;
}

.image-tour, .info-summary-tour, .description-tour {
    border-radius: 5px;
    box-shadow: 0 4px 14px var(--box-shadow-dialog);
    margin:10px;
    background-color: #f0f0f0;
}

.image-tour{
    width: 60%;
    height: max-content;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-summary-tour{
    width: 40%;
    height: max-content;
    padding: 10px;
}

/*format description*/
.description-tour{
    width: 100%;
}

.optionBtns{
    display: flex;
    flex-direction: row;
}
.tour-details {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.gallery-tour {
    margin-top: 20px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.thank-you-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.thank-you-image {
    width: 100px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.thank-you-section p {
    color: #333;
    font-size: 16px;
    text-align: center;
    font-weight: 250;
}
